@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hornedstyle{
  display: inline-block;
  margin: 20px;
  width: 350px;
}
.hornedstyle img{
  width: 250px;
  height: 200px;
}

.header{
  font-family: 'Akaya Kanadaka', cursive;
  text-align: center;
  height: 80px;
  margin-bottom: 20px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDfzZbmJlw7aXyOihloa_RMRx-Bf0Xm803-A&usqp=CAU);
}